$white: #fff;
$black: #333;
$lightergray: #d5d5d5;
$lightgray: #f0f3f1;
$gray: #e3dddd;
$text: #888;
$button: #3e3e3f;
$button-hover: #565657;

$grid-columns: 12;

$sm: 48rem;
$md: 62rem;
$lg: 75rem;

* {
	box-sizing: border-box;
	&::before, &::after {
		box-sizing: border-box;
	}
}
body {
	font-family: 'Raleway', sans-serif;
	font-size: 1.2rem;
	line-height: 1.3;
	margin: 0;
	padding: 0;
	color: $text;
	background: $white;
	text-rendering: optimizeLegibility;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
	li {
		margin: 0 1.75rem 0 0;
	}
}

a {
	color: $text;
	text-decoration: none;
	transition: all 0.2s ease;
	&:hover {
		color: $black;
	}
	&.active {
		color: $black;
	}
}

h1, h2, h3, h4 {
	color: $black;
	font-weight: normal;
	margin: 1.75rem 0 1rem 0;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2.125rem;
	margin: 0;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.5rem;
	margin: 1rem 0 0.5rem 0;
}

section {
	display: block;
}

img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}
.container {
	margin: auto;
	padding: 0 1rem;
	max-width: 75rem;
	width: 100%;
}
.grid {
	> [class*="column-"] {
		padding: 1rem;
	}
	&.menu, &.product {
		border-bottom: 0.0625rem solid $gray;
	}
	&.menu {
		> [class*="column-"] {
			padding: 0.5rem 1rem 0.5rem 1rem;
		}
	}
	&.product {
		padding: 0 0 1.5rem 0;
	}
	&.second-nav {
		> [class*="column-"] {
			padding: 0.5rem 1rem;
		}
	}
}

@import url('https://fonts.googleapis.com/css?family=Raleway');
@for $i from 1 through $grid-columns {
  .column-xs-#{$i} {
    -ms-flex-preferred-size: $i / $grid-columns * 100%;
    flex-basis: $i / $grid-columns * 100%;
    max-width: $i / $grid-columns * 100%;
  }
}

@media (min-width: $sm) {
  @for $i from 1 through $grid-columns {
    .column-sm-#{$i} {
      -ms-flex-preferred-size: $i / $grid-columns * 100%;
      flex-basis: $i / $grid-columns * 100%;
      max-width: $i / $grid-columns * 100%;
    }
  }
}

@media (min-width: $md) {
  @for $i from 1 through $grid-columns {
    .column-md-#{$i} {
      -ms-flex-preferred-size: $i / $grid-columns * 100%;
      flex-basis: $i / $grid-columns * 100%;
      max-width: $i / $grid-columns * 100%;
    }
  }
}

@media (min-width: $lg) {
  @for $i from 1 through $grid-columns {
    .column-lg-#{$i} {
      -ms-flex-preferred-size: $i / $grid-columns * 100%;
      flex-basis: $i / $grid-columns * 100%;
      max-width: $i / $grid-columns * 100%;
    }
  }
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    > [class*="column-"] {
      margin: 0;
      max-width: 100%;
    }
  }

  @for $i from 1 through $grid-columns {
    .column-xs-#{$i} {
      grid-column-start: span #{$i};
      grid-column-end: span #{$i};
    }
  }

  @media(min-width: $sm) {
    @for $i from 1 through $grid-columns {
      .column-sm-#{$i} {
        grid-column-start: span #{$i};
        grid-column-end: span #{$i};
      }
    }
  }

  @media(min-width: $md) {
    @for $i from 1 through $grid-columns {
      .column-md-#{$i} {
        grid-column-start: span #{$i};
        grid-column-end: span #{$i};
      }
    }
  }

  @media(min-width: $lg) {
    @for $i from 1 through $grid-columns {
      .column-lg-#{$i} {
        grid-column-start: span #{$i};
        grid-column-end: span #{$i};
      }
    }
  }
}

.cc-Profile-Image{
position: relative;
	margin: 0 auto;
	margin-top: 1rem;
    width: 7rem;
    height: 7rem;
    display: block;
}
@media (max-width: $sm) {
	.ccProfileImage {
		display: block;
		position: relative;
		margin: 0 auto;
		svg {
			margin-top: 1rem;
			width: 7rem;
			height: 7rem;
		}
	}
}

.price {
	margin: 0;
}
.description {
	border-top: 0.0625rem solid $gray;
	margin: 2rem 0;
	padding: 1rem 0 0 0;
}
.add-to-cart {
	position: relative;
	display: inline-block;
	background: $button;
	color: $white;
	border: none;
	border-radius: 0.5rem;
	padding: 1.25rem 3.5rem;
	font-size: 1rem;
	text-transform: uppercase;
	cursor: pointer;
	transform: translateZ(0);
	transition: color 0.3s ease;
	letter-spacing: 0.0625rem;
	&:hover {
		&::before {
			transform: scaleX(1);
			
		}
	}
	&::before {
		position: absolute;
		content: '';
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 0.5rem;
		background: $button-hover;
		transform: scaleX(0);
		transform-origin: 0 50%;
		transition: transform 0.3s ease-out;
	}
}

.b2{
	margin: 2rem 0.6rem;
}

.offer-box {
	margin-top: 3rem;
}
.offer-box .offer-block {
	border: 0.01rem solid #e3dddd;
	margin: 0.6rem;
}
.offer-box .offer-block img{
	margin: 0 auto;
	display: block;
	width: 70%;
	height: 60%;
}
.offer-box .offer-block h4{
	font-size: 1rem;
	font-weight: 700;
	text-align: center;
}
.aster1 p{
	font-size: 0.8rem;
	font-weight: 200;
	text-align: left;
	margin: 0.6rem;
}

footer {
	padding: 1rem 0;
	text-align: center;
}
.copyright {
margin: 0 auto;
font-size: 0.9rem;
}

.social {
  text-align:left;
  a {
    display: inline-block;
    padding: 0.4rem;
    width: 3rem;
    height: 3rem;
    margin: 0 2px;
    background: #fff;
    border-radius: 50%;
    vertical-align: middle;
    }
  }

.product-image {
	display: none;
}

.image-list {
	li {
		margin: 0;
	}
}

@keyframes fadeImg {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media (min-width: $md) {
	.product-image img, .image-list img {
		width: 100%;
	}

	.product-image {
		display: block;
		img {
			height: 52vh;
			&.active {
				display: block;
				margin: 0 0 0.75rem 0;
			}
		}
	}

	.image-list {
		display: flex;
		overflow: hidden;
		li {
			margin: 0 0.75rem 0 0;
			flex-basis: 100%;
			&:nth-child(3) {
				margin: 0;
			}
		}
		img {
			height: 10rem;
			width: 100%;
			transition: opacity 0.3s ease;
			cursor: pointer;
			&:hover {
				opacity: 0.7;
			}
		}
	}
}
